<ng-template #loading>
    <ds-loading-message></ds-loading-message>
</ng-template>


<ds-client-accruals-general-card></ds-client-accruals-general-card>

<ds-client-accruals-paid-leave-act-card></ds-client-accruals-paid-leave-act-card>

<ds-client-accruals-eligibility-card></ds-client-accruals-eligibility-card>

<ds-client-accruals-computation-card></ds-client-accruals-computation-card>

<ds-client-accruals-display-card></ds-client-accruals-display-card>

<ds-client-accruals-atm-export-card></ds-client-accruals-atm-export-card>

<ds-client-accruals-earnings-card></ds-client-accruals-earnings-card>

<ds-client-accruals-time-off-card></ds-client-accruals-time-off-card>

<!-- <ds-client-accruals-footer-card></ds-client-accruals-footer-card> -->

