.clockName {
    flex: 1 1 200px;
}
.devSn {
    flex: 0 0 140px;
}
.ipAddress {
    flex: 0 0 120px;
}
.pin {
    flex: 0 0 80px;
}
.fid {
    flex: 0 0 50px;
}
.size {
    flex: 0 0 80px;
}
.valid {
    flex: 0 0 60px;
}
.tmpStr {
    flex: 1 1 200px;
}