.ds-card-title {
  background-color: green;
}
.ds-card-inline-content {
  background-color: orange;
}
ds-card-bread-crumb {
  background-color: hotpink;
}
ds-card-title-right-content {
  background-color: #e1d5ef;
}
.ds-card-subtitle {
  background-color: #70cebf;
}