<div class="form-group">
    <label class="control-label">
        <span ng-show="dsRequired" class="required-star">*</span>{{labelText}}</label>

    <div>
        <div class="form-control-static" ng-show="isViewMode">
            {{ dsViewModel }} 
            <a ng-click="isViewMode = !isViewMode"><i></i></a>
        </div>

        <input class="form-control" ng-hide="isViewMode" ng-disabled="dsDisabled" ng-model="dsModel" ds-auto-focus="dsAutoFocusOn" />

    </div>
    
    <div ng-show="displayMessages()" class="message-area">
        <div ng-repeat="error in dsMessages">
            <span>{{error}}</span>
        </div>

    </div>
    
    <div ng-show="displayInProgress()" class="message-area">
        <span>Validation in progress ...</span>

    </div>
    
    <div ng-transclude></div>

</div>