<ds-employee-header (employeeNavigated)="switchEmployee()"></ds-employee-header>

<ds-card color="secondary" border="top">
  <ds-card-header>
    <ds-card-header-title>Emergency Contacts</ds-card-header-title>
    <ds-card-subtitle>
      <nav aria-label="breadcrumb" *ngIf="baseUrl">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [href]="breadcrumb">Employee List</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Emergency Contacts
          </li>
        </ol>
      </nav>
    </ds-card-subtitle>
  </ds-card-header>
  <ds-card-content >
  <ng-container *ngIf="!isLoading; else loadingScreen">
  <ng-container *ngIf="!isSupervisorOnHimself; else onHimself">
    <mat-drawer-container hasBackdrop="true" (backdropClick)="clearDrawer()" [@changeDrawerHeightOnOpen]="activeId != 0">
      <mat-drawer-content>
        <ds-card 
            mode="widget-nobody" 
            color="add" 
            (click)="addContact()"
            hover="true">
              <div ds-card-icon>add</div>
              <ds-card-header>
                  <ds-card-widget-title>Add Emergency Contact</ds-card-widget-title>
              </ds-card-header>
          </ds-card>
        <ng-container *ngFor="let con of displayList; let i = index;">
          <ds-card 
            mode="widget-nobody" 
            color="info" 
            (click)="toggleActiveContact(con.employeeEmergencyContactId)"
            hover="true">
              <div ds-card-icon>person</div>
              <ds-card-header>
                  <ds-card-widget-title>{{con.firstName}} {{con.lastName}} | <span class="widget-title-detail">{{(con.relation)}}</span></ds-card-widget-title>
                  <ds-card-title-action>
                    <button [matMenuTriggerFor]="menu" class="btn btn-icon" type="button"
                      (click)="$event.stopPropagation();cogClicked(con)">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                      <button type="button" mat-menu-item (click)="toggleActiveContact(con.employeeEmergencyContactId)">Edit</button>
                      <button type="button" mat-menu-item (click)="deleteContactDialog(con)">Delete</button>
                    </mat-menu>
                  </ds-card-title-action>
                  <ds-card-subtitle>
                    <div class="card-data-grid">
                      <ng-container  *ngIf="con.emailAddress">
                        <div class="label">Email Address</div>
                        <div class="value">{{con.emailAddress}}</div>
                      </ng-container>
                      <ng-container *ngIf="con.homePhoneNumber">
                        <div class="label">Primary Phone</div>
                        <div class="value">({{con.homePhoneNumber | slice: 0:3}}) {{con.homePhoneNumber | slice: 4:12}}</div>
                      </ng-container>
                      <ng-container *ngIf="con.cellPhoneNumber">
                        <div class="label">Secondary Phone</div> 
                        <div class="value">{{con.cellPhoneNumber | slice: 0:3}} {{con.cellPhoneNumber | slice: 4:12}}</div>
                      </ng-container>
                    </div>
                  </ds-card-subtitle>
              </ds-card-header>
          </ds-card>
        </ng-container>
      </mat-drawer-content>

      <mat-drawer 
        (keydown.escape)="clearDrawer()"
          #drawer 
          [mode]="over"
          position="end"
          [opened]="activeId != 0"
          [class.open]="activeId != 0" 
          [@matDrawerAfterHeightChange]="activeId != 0">
          <ng-container *ngIf="activeContact != null; else loadingScreen">
            <ng-container *ngTemplateOutlet="cardDrawerContent;"></ng-container>
          </ng-container>
      </mat-drawer>
    </mat-drawer-container>
  </ng-container>
  </ng-container>
    <ng-template #cardDrawerContent>
        <ds-emergency-contact-form 
          [user]="userinfo" 
          [emergencyContact]="activeContact" 
          (statusChange)="refresh($event)" 
          [pageSubmitted]="submitted"
          [isAdding]="isAdding">
        </ds-emergency-contact-form>
    </ng-template>
  </ds-card-content>
</ds-card>

<ng-template #loadingScreen>
<ds-loading-message></ds-loading-message>
</ng-template>
<ng-template #onHimself>
  <!-- ESS REDIRECT - SUPERVISOR VIEWING THEIR TAX INFO, isSupervisorOnHimself -->
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="empty-state-cycle warning">
        <mat-icon class="material-icons">warning</mat-icon>
        <div class="title">
          Your emergency contacts are only available in ESS
        </div>
        <p>
          Go to your ESS Profile to view and edit your emergency contacts.
        </p>
        <a type="button" class="btn btn-primary" [href]="essProfile">
          <mat-icon>account_circle</mat-icon>
          My ESS
        </a>
      </div>
    </div>
  </div>
</ng-template>