::ng-deep .w-100 {
    width: 100% !important;
}

::ng-deep .mat-form-field-infix {
    width: 40vw !important;
}

::ng-deep .mat-form-field-wrapper {
    margin: 0 5px;
}

.mat-card-actions { 
    padding-bottom: 1rem !important;
}