.mat-column-character {
  width: 150px;
  min-width: 150px;
}
.mat-column-movie {
  width: 300px;
  min-width: 300px;
  left: 150px !important;
}
.mat-column-quote {
  width: 600px;
  min-width: 600px;
}