<ng-template #loading>
    <ds-loading-message></ds-loading-message>
</ng-template>

<div mat-dialog-header>
    <h2 class="dialog-title">
        Add Tax
    </h2>
    <button type="button" class="close" (click)="close()">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <ng-container *ngIf="!isLoading; else loading">
        <form [formGroup]="form" dsTrackFormChanges>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label">Tax</label>
                        <select 
                          class="form-control custom-select" 
                          formControlName="clientTax"
                          dsFormControlValidator 
                          [dsFormControlSubmitted]="isSubmitted">
                          <option *ngFor="let tax of availableClientTaxes" value="{{tax.id}}"> {{tax.description}} </option>
                        </select>
                        <div class="invalid-feedback">Please select a tax.</div>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</div>
<div mat-dialog-actions class="ds-dialog-footer">
  <ng-container *ngIf="!isLoading">
    <button type="button" class="btn btn-save" (click)="save()">Save</button>
    <button type="button" class="btn btn-cancel" (click)="close()">Close</button>
  </ng-container>
</div>
