<ds-card border="top" *ngIf="!isLoading else loadingScreen">
  <ds-card-header>
    <ds-card-header-title>Integration Sync Dashboard</ds-card-header-title>
    <ds-card-title-action>
      <ng-container *ngIf="showReportsButton">
        <button type="button" class="btn btn-outline-primary dropdown-toggle" [matMenuTriggerFor]="menu">
          Download Reports
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="downloadDemographicReport()">Demographics</button>
          <button mat-menu-item (click)="downloadEmployeeDeductionReport()">Employee Deductions</button>
          <button mat-menu-item (click)="downloadClientDeductionReport()">Client Deductions</button>
        </mat-menu>
      </ng-container>
    </ds-card-title-action>

    <ds-card-subtitle>
      <!-- EMPLOYEE NAVIGATOR INSTRUCTIONS -->
      <div class="instruction-text" *ngIf="hasEmployeeNavigatorFeature && invalidEmployees?.length > 0">
        The listed employees are incompatible and unable to be synced to Employee Navigator until you update the information they are missing. This
        happens because Dominion tries to help you onboard employees as easy as possible, but this also means sometimes we don't require you to add
        all of the information that might be required in other systems when you first add your employees. In order to integrate with partners like
        Employee Navigator, we must ensure we don't sync bad data to your Employee Navigator integration.
      </div>

      <div class="instruction-text" *ngIf="!hasEmployeeNavigatorFeature && isSystemAdmin">
        Client does not have Employee Navigator feature enabled at this time. Go to the <a [routerLink]="['/', 'admin', 'features']">Company Features</a> page and
        enable Employee Navigator to get started!
      </div>
    </ds-card-subtitle>
  </ds-card-header>

  <ds-card-content>
    <div class="row" *ngIf="invalidEmployees?.length >= 0">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-control-label">Select</label>
                <select class="form-control custom-select" (change)="changeEmployeeStatus($event.target.value)">
                    <option [value]="0">All Employees</option>
                    <option selected [value]="1">Active Employees</option>
                </select>
            </div>
        </div>
      <div class="col-12">
        <div *ngIf="invalidEmployees.length == 0">
            <div class="empty-state">There are no employees to display.</div>
          </div>
        <div class="card card-table">
          <ng-container *ngIf="invalidEmployees?.length > 0">
            <mat-table [dataSource]="invalidEmployees" color="primary" matSort (matSortChange)="sortData($event)">
              <ng-container matColumnDef="employee">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Employee</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.firstName}} {{item.lastName}} {{item.isActive ? "" : " - T" }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="separationDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Separation Date</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.isActive ? "" : item.separationDate | date:'MM/dd/yyyy'}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="missingFields">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Missing Fields</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.missingFields | formatMissingField}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="invalidEmpsColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: invalidEmpsColumns"></mat-row>
            </mat-table>
          </ng-container>
        </div>
      </div>

    </div>
  </ds-card-content>
</ds-card>

<ng-template #loadingScreen>
    <ds-card mode="noheader">
        <ds-card-content>
            <ds-loading-message></ds-loading-message>
        </ds-card-content>
    </ds-card>
</ng-template>


<!-- DO NOT RELEASE YET -->
<!-- <div class="row">
    <div class="col-md-6">
        <ds-card hover="true" color="danger" mode="object" x-align="center">
            <div ds-card-header>
                <ds-card-subtitle>
                    <div class="split-content">
                        <div class="top">
                            <div class="object-card-avatar d-flex justify-content-center">
                                <mat-icon class="avatar text-danger">warning</mat-icon><div class="display-4 mx-4">3</div>
                            </div>
                            <div class="h1 text-center mb-4">
                                UNRESOLVED FAILED SYNCS
                            </div>
                        </div>
                    </div>
                </ds-card-subtitle>
            </div>
        </ds-card>
    </div>
    <div class="col-md-6">
        <ds-card hover="true" color="warning" mode="object" x-align="center">
            <div ds-card-header>
                <ds-card-subtitle>
                    <div class="split-content">
                        <div class="top">
                            <div class="object-card-avatar d-flex justify-content-center">
                                <mat-icon class="avatar text-warning">person_add</mat-icon><div class="display-4 mx-4">4</div>
                            </div>
                            <div class="h1 text-center mb-4">
                                PENDING NEW EMPLOYEES
                            </div>
                        </div>
                    </div>
                </ds-card-subtitle>
            </div>
        </ds-card>
    </div>

    <div class="col-md-12">
        <ds-card>
            <ds-card-header>
                <ds-card-header-title>Sync Log</ds-card-header-title>
                <ds-card-subtitle>
                    <div [formGroup]="tableFilters" class="d-flex justify-content-around">
                        <div class="form-group">
                            <label class="form-control-label">Display Synced From</label>
                            <div class="input-group">
                                <input type="input" formControlName="from" [matDatepicker]="from" class="form-control" />
                                <div class="input-group-append">
                                    <mat-datepicker-toggle [for]="from"></mat-datepicker-toggle>
                                    <mat-datepicker #from></mat-datepicker>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">To</label>
                            <input type="input" formControlName="to" [matDatepicker]="to" class="form-control" />
                            <mat-datepicker-toggle [for]="to"></mat-datepicker-toggle>
                            <mat-datepicker #to></mat-datepicker>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Synced From</label>
                            <select class="form-control custom-select">
                                <option>All</option>
                                <option value="en">Employee Navigator</option>
                                <option value="ds">Dominion</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <Label class="form-control-label">Status</Label>
                            <select class="form-control custom-select">
                                <option value="0">All</option>
                                <option value="1">Synced</option>
                                <option value="2">Failed</option>
                            </select>
                        </div>
                    </div>
                </ds-card-subtitle>
            </ds-card-header>
            <ds-card-content>
                <mat-table [dataSource]="tableData">
                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span *ngIf="row.hasRetriedSync; else noRetry" [matTooltip]="'Retried at: ' + (row.modified|date:'short')">
                                {{ row.createdAt | date:'shortDate' }}
                            </span>
                            <ng-template #noRetry>
                                <span *ngIf="row.syncStatus == 2; else noRetryOrFailure" [matTooltip]="'Please click retry to resync.'">
                                    {{ row.createdAt | date:'shortDate' }}
                                    <button type="button" mat-icon-button (click)="sendForRetry(row)">
                                        <mat-icon inline="true" [@rotate]="{ value: animationWithState, params: { duration: 700, degrees: 720 } }">loop</mat-icon>
                                    </button>
                                </span>
                                <ng-template #noRetryOrFailure>
                                    {{ row.createdAt | date:'shortDate' }}
                                </ng-template>
                            </ng-template>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="time">
                        <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.createdAt | date:'hh:mm:ss a' }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="from">
                        <mat-header-cell *matHeaderCellDef>Synced From</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.syncDirection == 0 ? 'Dominion' : 'Employee Navigator' }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.syncStatus == 0 ? 'Pending' : row.syncStatus == 1 ? 'Success' : 'Failed' }}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
                </mat-table>
            </ds-card-content>
        </ds-card>
    </div>
</div> -->
