@media screen and (max-width: 960px) {
    .card.card-table {
        box-shadow: none;
    }
    .mat-table {
        border: 0;
        vertical-align: middle;
    }

    .mat-table caption {
        font-size: 1em;
    }

    .mat-header-row {
        display: none;
    }

    .mat-table .mat-row {
        display: block;
        border-bottom: 1px solid #ddd;
        padding-top: 1rem;

        &:hover {
            background-color: transparent;
        }
        &:after {
            display: none;
        }
    }

    .mat-table .mat-cell {
        display: block;
        font-weight: bold;
        min-height: 35px;
        padding: 0 0 1rem 0; // Set padding to form

        &:before {
            content: attr(data-label);
            float: left;
            font-weight: normal;
            margin-right: 10px;
        }
    }

    .btn-anchor {
        float: right;
    }

    .table-text-right {
        padding-right: 0 !important;
    }
    
}
