<ds-card border="top">
    <ds-card-header>
        <ds-card-header-title>Geofence Manager</ds-card-header-title>
    </ds-card-header>
    <ds-card-content>
        <img class="img-fluid" src="Images/collage.jpg" alt="Employees Collage" />
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center font-weight-bold mt-6">What is Geofencing?</h1>
                <p class="text-center">
                    A geofence is a virtual boundary around a specified location that records when someone on a
                    mobile device enters or exits that boundary in the physical world. In Dominion, geofences are
                    determined and maintained by company administrators to capture punch locations for employees.
                    Once an employee enters a punch, the punch time and location data is collected and saved so you
                    can see where your employees are punching. Geofencing provides your employees with a safe,
                    personal punch method instead of relying on kiosk devices. Geofencing works great for construction,
                    sales, home care, or any employee that needs to record time from multiple locations. Select the “Get
                    Started” button below to enable this feature and start your free trial!
                </p>
                <div class="row justify-content-center mt-6">
                    <div class="col-auto">
                        <button type="button" mat-button class="btn btn-save" [routerLink]="['..','stepper']">Get
                            Started</button>
                        <!-- <a [routerLink]="['..', 'stepper']">Get Started</a> -->
                    </div>
                </div>
                <h1 class="text-center font-weight-bold mt-6">Dominion Mobile + Geofencing = Better Together</h1>
                <p class="text-center">
                    Employees will need to have Dominion Mobile installed on their mobile device. Dominion Mobile is
                    available for both iOS and Android devices. This feature easily replaces biometric clocks, can
                    prevent buddy punching, and provides a safe and secure method for your employees to record time on
                    their personal device, eliminating kiosk devices.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="Images/iPhone_11_punch_screen.png" alt='Dominion Mobile App' />
                    </div>
                    <div class="col-md-8 d-flex align-self-center">
                        <div>
                            <h4>Cost</h4>
                            <ul class="ds-ul">
                                <li class="ds-li">
                                    $2 per user / month
                                    <span class="instruction-text"> Billed per payroll.
                                        Must be a current Time & Attendance client.
                                    </span>
                                </li>
                                <li class="ds-li">
                                    $150 one-time activation fee
                                    <span class="instruction-text"> This fee will show up
                                        on your next bill from Dominion.
                                    </span>
                                </li>
                            </ul>

                            <h4>Features</h4>
                            <ul class="ds-ul">
                                <li class="ds-li">
                                    30 Day Free Trial
                                    <span class="instruction-text"> Billing will start after
                                        the trial period is over and with your next payroll.
                                    </span>
                                </li>
                                <li class="ds-li">
                                    Unlimited Geofences
                                    <span class="instruction-text"> Create as many locations
                                        as needed for your company
                                    </span>
                                </li>
                                <li class="ds-li">
                                    Recorded Punch Tracking
                                    <span class="instruction-text"> Easily view punches on a
                                        map to see where your employees are punching.
                                    </span>
                                </li>
                                <li class="ds-li">
                                    Punch Exceptions
                                    <span class="instruction-text"> Punches display as punch
                                        exceptions on Time Cards
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-6">
            <div class="col-auto">
                <button type="button" mat-button class="btn btn-save" [routerLink]="['..','stepper']">Get
                    Started</button>
                <!-- <a [routerLink]="['..', 'stepper']">Get Started</a> -->
            </div>
        </div>
    </ds-card-content>
</ds-card>