.mat-column-selected {
    flex: 0 0 45px;
}
.clockName {
    flex: 1 1 130px;
}
.devSn {
    flex: 0 1 135px;;
}
.devIp {
    flex: 0 1 125px;
}
.transInterval {
    flex: 0 1 90px;
}
.operLogStamp {
    flex: 1 1 180px;
}
.devFirmwareVersion {
    flex: 1 1 90px;
}
.userCount {
    flex: 0 1 90px;
}
.fpCount {
    flex: 0 1 90px;
}
.attCount {
    flex: 1 1 120px;
}
.isRental {
    flex: 0 1 127px;
}