<div class="row">
    <div class="col-md-4" ng-repeat="policy in $ctrl.timeOff.policies">
        <!-- TODO: NEED CONTEXTUAL COLORS -->
        <div class="ds-card card-sm clickable" ng-class="'policy-' + (($ctrl.timeOff.getPolicyIndex(policy) % 4) + 1)" 
            ng-click="policy.viewActivity()">
            <div class="ds-card-container">
                <div class="header-bar border-top-info">
                    <div class="ds-card-header align-x-center text-center d-block align-y-top">
                        <div class="ds-card-header-row">
                            <div class="ds-card-title">
                                <div class="text-medium-dark">
                                    <div class="ds-card-title-icon">
                                        <i class="material-icons text-undefined" style="line-height: 1.25 !important;">schedule</i>
                                    </div>
                                </div>
                                <div class="text-medium-dark text-truncate">
                                    <div class="font-xl text-truncate">
                                        {{ policy.policyName }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ds-card-body">
                    <div class="ds-card-content">
                        <div class="row justify-content-center">
                            <div class="col-12 text-center">
                                <div style="font-size: 3rem !important; margin-bottom: 1rem !important;">{{policy.unitsAvailable}}</div>
                                <h4 style="font-size: 1rem !important;">{{policy.timeOffUnitTypeName}} Left</h4>
                            </div>
                            <div class="col-12">
                                <hr />
                            </div>
                            <div class="col-12">
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <a>
                                            <span>View Activity</span>
                                            <i class="material-icons">keyboard_arrow_right</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="panel text-center text-muted panel-clickable" ng-class="'policy-' + (($ctrl.timeOff.getPolicyIndex(policy) % 4) + 1)">
            <div class="panel-heading pb-0">
                <div class="panel-title">
                    {{ policy.policyName }}
                </div>
            </div>
            <div class="panel-body pt-0"  ng-click="policy.viewActivity()">
                <div class="time-off-icon">
                    <i class="icon icon-time"></i>
                </div>
                <div>
                    <div class="big-num">{{policy.unitsAvailable}}</div>
                    <div class="widget-label">{{policy.timeOffUnitTypeName}} Left</div>
                </div>
                <hr />
                <a>View Activity&nbsp;<i class="icon icon-angle-right"></i></a>
            </div>
        </div> -->
    </div>
</div>
