
.clockName {
    flex: 1 0 130px;
}
.devSn {
    flex: 1 0 140px;
}
.ipAddress {
    flex: 0 0 125px;
}
.pin {
    flex: 1 0 70px;
}
.username {
    flex: 1 1 200px;
}
.password {
    flex: 1 1 120px;
}
.idCard {
    flex: 0 0 80px;
}
.group {
    flex: 0 0 75px;
}
.timezone {
    flex: 0 0 120px;
}
.pri {
    flex: 0 0 115px;
}